<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="images/logo/wolf.png" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <!-- BEGIN NAV -->
        <ul style="width:150px; margin-top:64px;" class="side-nav fixed">
            <li><a href="{{ url('home') }}">Accueil</a></li>
            <li><a href="{{ url('contact') }}">Contact</a></li>
            <li><a href="{{ url('about') }}">A propos</a></li>
            {% if app.user is not null %}
                <li><a href="{{ url('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ url('login') }}">Connexion</a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="side-nav" style="padding-top:65px;">
            <li><a href="{{ url('home') }}">Accueil</a></li>
            <li><a href="{{ url('contact') }}">Contact</a></li>
            <li><a href="{{ url('about') }}">A propos</a></li>
            {% if app.user is not null %}
                <li><a href="{{ url('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ url('login') }}">Connexion</a></li>
            {% endif %}
        </ul>

        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="left hide-on-med-and-down">
                    <li><a href="#">Mettre citation dynamique.</a></li>
                </ul>

                {% if app.user is not null %}
                    <ul class="right grey-text">
                        <li>
                            <div class="chip">
                                <img src="images/others/user.svg" alt="Contact Person">
                                Bonjour, {{ app.user.username }}
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <!-- END NAV -->

        {% for message in app.flashes('success') %}
            <br>
            <div id="card-alert" class="card green lighten-5">
                <div class="card-content green-text">
                    <p>SUCCESS : {{ message }}</p>
                </div>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        <script src="{{ asset('build/js/jquery.js') }}"></script>
        <script src="{{ asset('build/js/materialize.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
