{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}

    <!-- BEGIN ROW -->
    <div class="row">

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="ml2 header center">Jimmy GUEVEL</h1>
                    <div class="row center">
                        <h5 class="center-align">Développeur Back-end</h5>
                    </div>
                    <div class="row center">
                        <a href="{{ url('contact') }}" id="download-button" class="btn-large waves-effect waves-light grey darken-2">Contact</a>
                        <a href="{{ url('about') }}" id="download-button" class="btn-large waves-effect waves-light grey darken-2">A propos</a>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax" id="background1">
            </div>
        </div>

        <h1 class="ml8">
            <span class="letters-container">
                <span class="letters letters-left">Hi</span>
                <span class="letters bang">!</span>
            </span>
            <span class="circle circle-white"></span>
            <span class="circle circle-dark"></span>
            <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
        </h1>

        <!-- BEGIN COLUMN S2 -->
        <div class="col s2">
        </div>
        <!-- END COLUMN S2 -->

        <!-- BEGIN COLUMN S8 -->
        <div class="col s8">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Langages</h5>

                        <p class="light">
                            <img src="images/icons/php.svg" alt="php" height="57px" width="70px" />
                            <img src="images/icons/sql.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/python.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/java.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/javascript.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/html-5.svg" alt="html-5" height="57px" width="70px" />
                            <img src="images/icons/css-3.svg" alt="sql" height="57px" width="70px"/>
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Framework</h5>

                        <p class="light">
                            <img src="images/icons/symfony.png" alt="sql" height="70px" width="70px"/>
                            <img src="images/icons/codeigniter.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/struts.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/hibernate.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/JPA.jpg" alt="sql" height="50px" width="70px"/>
                            <img src="images/icons/django.svg" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/jquery.gif" alt="sql" height="57px" width="70px"/>
                            <img src="images/icons/VueJS.png" alt="sql" height="57px" width="70px"/>
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Outils</h5>

                        <p class="light">
                            <img src="images/icons/mysql.png" alt="sql" height="50px" width="70px"/>
                            <img src="images/icons/sql-server.svg" alt="sql" height="50px" width="70px"/>
                            <img src="images/icons/apache.png" alt="sql" height="45px" width="70px"/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Mes réalisations</h4>
                </div>
            </div>


            <div class="row">
                {% for project in projects %}
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/projects/{{ project.image }}" class="responsive-img" height="380" width="353">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.title }}<i class="material-icons right">more_vert</i></span>
                                <p><a href="{{ project.link }}">{{ project.title }}</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ project.title }}<i class="material-icons right">close</i></span>
                                <p>{{ project.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- BEGIN COLUMN S2 -->

        <div class="col s2">
            <div class="row">
                <div class="hide-on-small-only hide-on-med-and-down">
                    <div class="card white darken-1">
                        <div class="card-content black-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- END COLUMN S2 -->

    </div>
    <!-- END ROW -->

{% endblock %}

{% block footer %}
    <!-- BEGIN FOOTER -->

    <!-- END FOOTER -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
    <script src="{{ asset('build/js/home.js') }}"></script>
{% endblock %}